src/main/mule/my-github-practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37fe98c9-ab69-437f-b59b-650ea33b7035" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-github-practiceFlow" doc:id="8d30a557-7abb-45e5-bcc0-c5689f8310e4" >
		<http:listener doc:name="Listener" doc:id="aa400a85-4e3a-4734-9377-41216beab8a6" config-ref="HTTP_Listener_config" path="/practice"/>
		<logger level="INFO" doc:name="Logger" doc:id="205ab5f2-2fae-4c31-bccc-3ff8bcd1132b" message="Start"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;status : "Github practice is in progress."]' doc:name="Set Payload" doc:id="7e58b389-8dc3-4d8e-9755-ec3c6462645d" />
		<logger level="INFO" doc:name="Logger" doc:id="1b6838ba-1526-4f97-88d0-99fe69245080" message="End"/>
	</flow>
</mule>
